.Imagine {
    background-image: url(../images/ResidentBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.imagine-firts__p::first-letter{
    text-transform: uppercase;
}