.expmgm {
  background: linear-gradient(to right, rgb(108, 14, 151), rgb(151, 26, 36));
}

.seniorul {
  border: 3px solid #17a2b8;
  border-style: dashed;
}

.initialul {
  border: 3px solid #28a745;
  border-style: dashed;
}

.Expert {
  border: 3px solid rgb(108, 14, 151);
  border-style: dashed;
  padding-right: 2px;
  height: 100%;
  justify-content: space-between;
}

.Mgm {
    border: 3px solid rgb(151, 26, 36);
    border-style: dashed;
    padding-left: 2px;
    height: 100%;
    justify-content: space-between;
  }


