body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: x-large;
}

.fontsmall {
  font-size: small;
}

.text {
  color: #bfd732;
}

.hr {
  background-color: #bfd732;
}

.containerbg {
  background-color: #343a40;
  height: 100vh;
  /* height: 100; */
  /* height: 100em; */
}

@media screen and (max-width: 1000px) {
  .containerbg {
    background-color: #343a40;
    height: 100%;
  }
}
